.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table.layout {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  position: relative;
  right: 110%;
}

table.display {
  margin: 1em 0;
}

table.display th, table.display td {
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th {
  background: #D5E0CC;
}

table.display td {
  background: #fff;
}

table.display th.button {
  background: #FFFFFF;
  border: 0px;
}